@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&family=Poppins:wght@100;200&family=Quicksand:wght@300;500;600;700&display=swap');

.btn-secondary {
  color: #fff !important;
  position: relative;
  border-radius: 50rem;
  background-color: #131313;
  border: none;
  box-shadow: 5px 5px 10px rgb(255 255 255 / 20%), -5px -5px 10px rgb(204 186 186 / 40%);
  transition: background-color .15s ease-in-out, border .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out
}

img {
  width: 100%; }

.listing-main-img {
  height: 200px;
}

.logo {
  width: 80px; }

.navbar {
  opacity: 1;
  background-color: black;
  text-transform: uppercase;
  font-family: poppins; }

.social a {
  margin-right: 0.4rem; }

.active {
  font-weight: bold !important;
}

#showcase {
  background: url("../img/luxury_home1.jpg");
  background-repeat: no-repeat; 
  background-position: top center; 
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
 }

  #showcase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); }

  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  
    #showcase .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      min-height: 400px;
      width: 100%;
      border-radius: 10px;
      background: rgb(0 0 0 / 30%);
      transition: background-color .15s ease-in-out, border .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
      backdrop-filter: blur(1px);
  }

#services {
  background: url(../img/building.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgb(32 103 134 / 80%); }

.services-text {
  width: 90%;
  margin: 0 auto;
}

#showcase-inner {
  background: url(../img/building.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgb(32 103 134 / 80%); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

/* Forms */

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8ab8;
  background-color: #f0f5fabe;
  background-clip: padding-box;
  border: 0 solid #bed1e6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  box-shadow: inset 2px 2px 8px rgb(55 94 148 / 30%), inset -3px -2px 5px rgb(255 255 255 / 80%);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Pagination */
.page-link.active:hover {
  color: yellow;
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }
